

    <div class="jumbotron">
        <h1> Soup Recipes and Reviews </h1>
        <p></p>
    </div>

    <p class="p-3 m-3 border border-primary bg-light">
        Welcome to Soup Recipes and Reviews! <br>
        <br>
        This website is a soup recipe blog with soups that I have rated and reviewed. 
        You can search for soups by season, whether the soup is vegetarian or vegan, by ingredients, 
        and by overall ratings. Each soup also comes with the original recipe and credited with where it was found. 
        Please create an account on this site to save your favorite soup recipes (and in the near future, to add
        your own ratings and reviews!).
    </p>
    
    <% if (true || loggedIn) {%>  
        <form method="post" action="/soups/byName">
            Find Soups by Name: 
              <input type="text" name="name" 
                     placeholder="e.g. Wonton Soup">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/soups/bySeason">
            Find Soups by Season: 
              <input type="text" name="season" 
                     placeholder="e.g. Fall">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/soups/byVegetarian">
            Filter by Vegetarian Soups: 
            <input type="boolean" name="vegetarian" 
                   placeholder="e.g. true">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/soups/byVegan">
            Filter by Vegan Soups: 
            <input type="boolean" name="vegan" 
                   placeholder="e.g. true">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/soups/byKeyword">
            Find Soups by Keyword: 
              <input type="text" name="keyword" 
                     placeholder="e.g. Spicy">
            <input type="submit">
        </form>
        <br>
        <form method="post" action="/soups/byIngredient">
            Find Soups by Ingredient: 
              <input type="text" name="ingredient" 
                     placeholder="e.g. Tomato">
            <input type="submit">
        </form>
        <br>
        <a href="/favoriteSoups/show">Show Your Favorite Soups</a>
    <% } %>

